<div class="footer">
    <div class="content" style="overflow: hidden">
        <h4 class="toptips">友情链接</h4>
        <ul id="friendurl">
            <li>
                <span>--政府部门--</span><i></i>
                <dl>
                    <dd><a href="http://www.samr.gov.cn/" target="_blank">国家市场监督管理总局</a></dd>
                    <dd><a href="http://www.mot.gov.cn/" target="_blank">交通运输部</a></dd>
                    <dd><a href="http://www.mwr.gov.cn/" target="_blank">水利部</a></dd>
                    <dd><a href="http://www.cma.gov.cn/" target="_blank">中国气象局</a></dd>
                    <dd><a href="http://www.miit.gov.cn/newweb/" target="_blank">工业和信息化部</a></dd>
                    <dd><a href="http://www.cnca.gov.cn/" target="_blank">国家认证认可监督管理委员会</a></dd>
                    <dd><a href="http://www.sac.gov.cn/" target="_blank">国家标准化管理委员会</a></dd>
                    <dd><a href="http://www.most.gov.cn/" target="_blank">科学技术部</a></dd>
                    <dd><a href="http://www.ndrc.gov.cn/" target="_blank">国家发展与改革委员会</a></dd>
                    <dd><a href="http://www.customs.gov.cn/" target="_blank">海关总署</a></dd>
                    <dd><a href="http://www.mofcom.gov.cn/" target="_blank">商务部</a></dd>
                    <dd><a href="http://www.agri.cn/" target="_blank">中国农业信息网</a></dd>
                    <dd><a href="http://www.mohurd.gov.cn/" target="_blank">中华人民共和国住房和城乡建设部</a></dd>
                    <dd><a href="http://www.nhc.gov.cn/" target="_blank">中华人民共和国国家卫生健康委员会</a></dd>
                    <dd><a href="https://www.mem.gov.cn/index.shtml" target="_blank">中华人民共和国应急管理部</a></dd>
                    <dd><a href="http://samr.cfda.gov.cn/WS01/CL0001/" target="_blank">国家食品药品监督管理总局</a></dd>
                    <dd><a href="http://www.ccad.gov.cn/" target="_blank">国家人民防空办公室</a></dd>
                    <dd><a href="http://www.forestry.gov.cn/Common/index/4812.html" target="_blank">国家林业和草原局</a></dd>
                </dl>
            </li>
            <li>
                <span>--国际组织--</span><i></i>
                <dl>
                    <dd><a href="https://www.wto.org/" target="_blank">世界贸易组织</a></dd>
                    <dd><a href="https://www.iso.org/home.html" target="_blank">国际标准化组织</a></dd>
                    <dd><a href="https://www.oiml.org/fr" target="_blank">国际法定计量组织</a></dd>
                    <dd><a href="https://www.bipm.org/en/about-us/" target="_blank">国际计量局</a></dd>
                    <dd><a href="http://www.iec.ch/" target="_blank">国际电工委员会</a></dd>
                    <dd><a href="https://www.apec.org/" target="_blank">亚太经济合作组织</a></dd>
                    <dd><a href="https://www.iaf.nu/" target="_blank">国际认可论坛</a></dd>
                    <dd><a href="https://aplac.org/" target="_blank">亚太实验室认可合作组织</a></dd>
                    <dd><a href="http://www.european-accreditation.org/" target="_blank">欧洲认可合作组织</a></dd>
                    <dd><a href="http://www.iaac.org.mx/" target="_blank">美洲认证合作组织</a></dd>
                    <dd><a href="https://www.actuaries.asn.au/" target="_blank">澳大利亚国家检测机构协会</a></dd>
                    <dd><a href="http://www.ianz.govt.nz/" target="_blank">新西兰国际认可</a></dd>
                </dl>
            </li>
            <li>
                <span>--全国各省市市场监督管理局--</span><i></i>
                <dl>
                    <dd><a href="http://www.humsa.gov.cn/" target="_blank">湖州市</a></dd>
                    <dd><a href="http://scjgj.beijing.gov.cn/" target="_blank">北京市</a></dd>
                    <dd><a href="http://scjg.tj.gov.cn/" target="_blank">天津市</a></dd>
                    <dd><a href="http://scjg.hebei.gov.cn/" target="_blank">河北省</a></dd>
                    <dd><a href="http://scjgj.shanxi.gov.cn/index.htm" target="_blank">山西省</a></dd>
                    <dd><a href="http://amr.nmg.gov.cn/" target="_blank">内蒙古自治区</a></dd>
                    <dd><a href="http://scjg.ln.gov.cn/" target="_blank">辽宁省</a></dd>
                    <dd><a href="http://scjg.jl.gov.cn/" target="_blank">吉林省</a></dd>
                    <dd><a href="http://www.hljqts.gov.cn/" target="_blank">黑龙江省</a></dd>
                    <dd><a href="http://shzj.scjgj.sh.gov.cn/" target="_blank">上海市</a></dd>
                    <dd><a href="http://scjgj.jiangsu.gov.cn/" target="_blank">江苏省</a></dd>
                    <dd><a href="http://zjamr.zj.gov.cn/" target="_blank">浙江省</a></dd>
                    <dd><a href="http://amr.ah.gov.cn/?title_id=5784" target="_blank">安徽省</a></dd>
                    <dd><a href="https://www.sogou.com/link?url=44aejrzSKwWDLiBRYOXSwRK8P6Sn75Jmbhhp9J6i36M." target="_blank">福建省</a></dd>
                    <dd><a href="http://amr.jiangxi.gov.cn/" target="_blank">江西省</a></dd>
                    <dd><a href="http://amr.shandong.gov.cn/" target="_blank">山东省</a></dd>
                    <dd><a href="http://scjg.henan.gov.cn/" target="_blank">河南省</a></dd>
                    <dd><a href="http://scjg.hubei.gov.cn/" target="_blank">湖北省</a></dd>
                    <dd><a href="http://amr.hunan.gov.cn/" target="_blank">湖南省</a></dd>
                    <dd><a href="http://www.gdqts.gov.cn/" target="_blank">广东省</a></dd>
                    <dd><a href="http://scjdglj.gxzf.gov.cn/" target="_blank">广西自治区</a></dd>
                    <dd><a href="http://amr.hainan.gov.cn/" target="_blank">海南省</a></dd>
                    <dd><a href="http://scjgj.cq.gov.cn/" target="_blank">重庆市</a></dd>
                    <dd><a href="http://scjgj.sc.gov.cn/" target="_blank">四川省</a></dd>
                    <dd><a href="http://amr.guizhou.gov.cn/" target="_blank">贵州省</a></dd>
                    <dd><a href="http://ynamr.ynaic.gov.cn/ecdomain/framework/ynaic/index.jsp" target="_blank">云南省</a></dd>
                    <dd><a href="http://www.xzaic.gov.cn/index.htm" target="_blank">西藏自治区</a></dd>
                    <dd><a href="http://snamr.snaic.gov.cn/" target="_blank">陕西省</a></dd>
                    <dd><a href="http://scjg.gansu.gov.cn/" target="_blank">甘肃省</a></dd>
                    <dd><a href="http://scjgj.qinghai.gov.cn" target="_blank">青海省</a></dd>
                    <dd><a href="http://scjg.nx.gov.cn/" target="_blank">宁夏回族自治区</a></dd>
                    <dd><a href="http://www.xjzj.gov.cn/" target="_blank">新疆维吾尔自治区</a></dd>
                </dl>
            </li>
            <li>
                <span>--认证认可机构--</span><i></i>
                <dl>
                    <dd><a href="https://www.cnas.org.cn/" target="_blank">中国合格评定国家认可委员会</a></dd>
                    <dd><a href="http://www.ccai.cc/" target="_blank">国家认监委认证认可技研所</a></dd>
                    <dd><a href="http://www.isccc.gov.cn/" target="_blank">中国信息安全认证中心</a></dd>
                    <dd><a href="http://www.ccaa.org.cn/" target="_blank">中国认证认可协会</a></dd>
                    <dd><a href="http://www.nim.ac.cn/" target="_blank">中国计量科技研究院</a></dd>
                    <dd><a href="https://www.cnis.ac.cn/pcindex/" target="_blank">中国标准化研究院</a></dd>
                    <dd><a href="http://www.cast.org.cn/" target="_blank">中国科学技术协会</a></dd>
                    <dd><a href="http://www.crmrm.com/" target="_blank">国家标准物质网</a></dd>
                    <dd><a href="http://www.cqc.com.cn/www/chinese/index.shtml" target="_blank">中国质量认证中心</a></dd>
                    <dd><a href="http://www.ccic.com/web/homepage.html" target="_blank">中国检验认证（集团）有限公司</a></dd>
                </dl>
            </li>
            <li>
                <span>--合作单位--</span><i></i>
                <dl>
                    <dd><a href="http://www.tygckj.com/" target="_blank">浙江通源工程科技有限公司</a></dd>
                    <dd><a href="http://www.17025.org" target="_blank">检测认证网</a></dd>
                    <dd><a href="http://www.newview.cc/?tdsourcetag=s_pcqq_aiomsg" target="_blank">西安新视窗科技有限公司</a></dd>
                    <dd><a href="http://www.lzszg.com/portal.php" target="_blank">龙之声</a></dd>
                    <dd><a href="http://www.toehold.cn/" target="_blank">上海同禾土木工程科技有限公司</a></dd>
                    <dd><a href="http://www.jingushenjian.cn/" target="_blank">北京今谷神箭测控技术研究所</a></dd>
                    <dd><a href="http://www.jsjljc.cn/" target="_blank">江苏金麟技术检测有限公司</a></dd>
                    <dd><a href="http://www.eastern-test.com/" target="_blank">东检检测</a></dd>
                    <dd><a href="http://www.citte.com.cn/" target="_blank">国际检博会</a></dd>
                </dl>
            </li>
            <!--<li><span>--政府部门网站连接--</span><i></i></li>
            <li><span>--出入境检验检疫局站点--</span><i></i></li>
            <li><span>--质量技术监督局站点--</span><i></i></li>
            <li><span>--国际组织相关连接--</span><i></i></li>
            <li><span>--认证认可机构--</span><i></i></li>-->
            <div class="clear"></div>
        </ul>
        <script type="text/javascript">
            $("#friendurl li").mouseover(function(e){
                $(this).children("dl").show();
            });
            $("#friendurl li").mouseout(function(e){
                $(this).children("dl").hide();
            });
        </script>
        <div class="fl" style="width: 900px">
            <ul id="weburl">
                <li><a href="#">新手指南</a></li>
                <li><a href="#">平台声明</a></li>

                <li><a href="#">关于我们</a></li>

                <li class="last"><a href="#">加入我们</a></li>
            </ul>
            <p id="copyright">Inspection and testing network.com Copyright © 2018 All Rights Reserved</p>
            <ul id="icp">
                <li>版权所有：湖州通源网络科技有限公司</li>
                <li style="margin-right: 10px;"><img src="__STATIC__/pic/ga.png" width="27px"></li>
                <li>
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33050202000249" style="display:inline-block;text-decoration:none;"><p style="height:30px;line-height:30px;margin: 0px 0px 0px 5px; color:#666;">浙公网安备 33050202000249号</p></a>
                </li>
                <li><a target="_blank" href="http://www.beian.miit.gov.cn" style="color:#666;">浙ICP备18013111号-1</a></li>
                <li><a id="_pingansec_bottomimagesmall_shiming" href="http://si.trustutn.org/info?sn=495180821036527728925&amp;certType=1"><img src="http://v.trustutn.org/images/cert/bottom_small_img.png"></a></li>
            </ul>
        </div>
        <div style="float: right;margin: 30px 50px"><img src="__STATIC__/pic/footercode.jpg" width="150px">
            <p style="color: black;text-align: center;font-size: 14px">微信公众号</p>
        </div>
    </div>
</div>
</div>
<div class="modal" id="avatar-modal">
    <div class="modal-content">
        <form class="avatar-form">
            <div class="modal-header">
                <button class="close" type="button">×</button>
                <h4 class="modal-title" id="avatar-modal-label">设置头像</h4>
            </div>
            <div class="modal-body">
                <div class="avatar-upload">
                    <input class="avatar-src" name="avatar_src" type="hidden">
                    <input class="avatar-data" name="avatar_data" type="hidden">
                    <label for="avatarInput" style="line-height: 35px;">图片上传</label>
                    <button class="btn btn-danger" type="button" style="height: 35px;" onclick="$('input[id=avatarInput]').click();">请选择图片</button>
                    <span id="avatar-name"></span>
                    <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file">
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="avatar-wrapper"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="avatar-preview" id="imageHead"></div>
                        <ul class="avatar-demp">
                            <li><img src="__STATIC__/pic/demo_1.jpg" class="w100"></li>
                            <li><img src="__STATIC__/pic/demo_2.jpg" class="w100"></li>
                            <li><img src="__STATIC__/pic/demo_3.jpg" class="w100"></li>
                            <li><img src="__STATIC__/pic/demo_4.jpg" class="w100"></li>
                            <li><img src="__STATIC__/pic/demo_5.jpg" class="w100"></li>
                            <li><img src="__STATIC__/pic/demo_6.jpg" class="w100"></li>
                        </ul>
                        <button class="btn btn-danger btn-block avatar-save fa" style="margin-top: 70px;" type="button" data-dismiss="modal"> 保存修改</button>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="forgetpswd midfloat">
    <div class="inner">
        <form id="resetpasswd">
            <h4>找回密码</h4>
            <p class="inputline mobiletips" id="mobilephone"><input type="text" placeholder="手机号" value="" name="mobile"></p>
            <p class="inputline passwdtips" id="newpasswd"><input type="password" placeholder="请输入新密码" value="" name="newpasswd"></p>
            <p class="inputline passwdtips" id="renewpasswd"><input type="password" placeholder="请再次输入新密码" value="" name="renewpasswd"></p>
            <p class="inputline smscodetips"><input type="text" placeholder="手机验证码" value="" name="smscode" class="smallinput"><em class="getmsgno" id="forgetpswd_btn">发送验证码</em></p>
            <p class="btnline submit_forgetpswd">重置密码</p>
            <a href="{:url('register/reg')}" class="aline">免费注册</a>
        </form>
    </div>
    <p class="close"></p>
</div>
<div class="logfloat midfloat">
    <div class="inner">
        <div class="menu">
            <em class="active">账号登录</em>
            <em>验证码登录</em>
        </div>
        <div class="inputtab" style="display: block;">
            <form id="log_1">
                <p class="inputline mobiletips"><input type="text" placeholder="手机号/邮箱" value="" name="account"></p>
                <p class="inputline passwdtips"><input type="password" placeholder="密码" value="" name="password"></p>
                <p class="inputline" style="text-align: right;"><a href="{:url('register/reg')}">免费注册</a><i>忘记密码</i></p>
                <p class="btnline submit_logfloat">立即登录</p>
            </form>
        </div>
        <div class="inputtab">
            <form id="log_2">
                <p class="inputline mobiletips" id="mobilephone"><input type="text" placeholder="手机号/邮箱" value="" name="mobile"></p>
                <p class="inputline smscodetips"><input type="text" placeholder="邮箱验证码" value="" name="smscode" class="smallinput"><em class="getmsgno" id="logpswd_btn">发送验证码</em></p>
                <p class="inputline" style="text-align: right;"><a href="{:url('register/reg')}" class="aline">免费注册</a><i>忘记密码</i></p>
                <p class="btnline submit_logfloat">立即登录</p>
            </form>
        </div>
        <script type="text/javascript">
            $(".logfloat .menu em").click(function(e){
                var cname = $(this).attr("class");
                if(!cname || cname.indexOf("active") < 0 ){
                    var index = $(".logfloat .menu em").index(this);
                    $(".logfloat .menu em").removeClass("active");
                    $(".logfloat .inputtab").hide();
                    $(".logfloat .menu em").eq(index).addClass("active");
                    $(".logfloat .inputtab").eq(index).show();
                }
            });
            $(".logfloat .inputline i").click(function(e){
                $(".logfloat").fadeOut();
                $(".forgetpswd").fadeIn();
            });
        </script>
    </div>
    <p class="close"></p>
    <p class="extraline">
        <span>第三方登录：</span>
        <a href="#" target="_blank" class="indexlogicon"><img src="__STATIC__/pic/micromsg.png" class="w100"></a>
    </p>
</div>
<div class="picshow">
    <p><img src="http://img.huaxiajianyan.com/Picture/2018-08-02/5b62b1be805ba.jpg"></p>
</div>

<script type="text/javascript" src="__STATIC__/js/trusted.js"></script>
<script src="__STATIC__/js/ajaxfileupload.js"></script>
<script src="__STATIC__/js/cropper.js"></script>
<script src="__STATIC__/js/sitelogo.js"></script>
<script src="__STATIC__/js/html2canvas.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=oNp6H79shkE8mWfu6rC2Vz1p0d2DqqLj"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=oNp6H79shkE8mWfu6rC2Vz1p0d2DqqLj&amp;services=&amp;t=20200327103013"></script>
<script type="text/javascript" src="__STATIC__/js/swiper.js" charset="utf-8"></script>
<script src="__STATIC__/js/sweetalert.min.js"></script>
<!--<script type="text/javascript">-->
<!--document.write('<script type="text/javascript" src="js/main.js?v=' + Math.random() + '"><'+'/script>');-->
<!--</script>-->
<script type="text/javascript" src="__STATIC__/js/main.js"></script>
<!--<script src="__STATIC__/js/sweetalert.min.js"></script>-->
<!--<div class="mid">-->
<!--<div class="fr">-->
<!--<script type="text/javascript">-->
<!--document.write(unescape("%3Cspan id='cnzz_stat_icon_1278763673'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1278763673%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));-->
<!--</script>-->
<!--<span id="cnzz_stat_icon_1278763673">-->
<!--<a href="https://www.cnzz.com/stat/website.php?web_id=1278763673" target="_blank" title="站长统计">-->
<!--<img border="0" hspace="0" vspace="0" src="https://icon.cnzz.com/img/pic.gif">-->
<!--</a>-->
<!--</span>-->
<!--<script src="https://s4.cnzz.com/z_stat.php?id=1278763673&amp;show=pic" type="text/javascript"></script>-->
<!--<script src="https://c.cnzz.com/core.php?web_id=1278763673&amp;show=pic&amp;t=z" charset="utf-8" type="text/javascript"></script>-->
<!--</div>-->
<!--</div>-->
</body>
</html>