{include file="public/header" /}
    <div class="content">    <div class="mid dutytab">
        <h4>华夏检验检测网用户服务协议</h4>
        <p>　　欢迎您使用华夏检验检测网的服务！</p>
        <p>　　为使用华夏检验检测网的服务，您应当阅读并遵守《华夏检验检测网用户服务协议》和《华夏检验检测网隐私权条款》。本协议是用户与华夏检验检测网之间的法律协议，是用户注册华夏检验检测网平台账号和/或使用华夏检验检测网服务时使用的通用条款。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、管辖与法律适用条款。限制、免责条款可能以黑体加粗或加下划线的形式提示您重点注意。您不应当以华夏检验检测网未对本协议以合理方式提醒用户注意或未根据用户要求尽到说明义务为理由而声称或要求法院或其它任何第三方确认相关条款非法或无效。除非您已阅读并接受本协议所有条款，否则您无权使用华夏检验检测网提供的服务。您使用华夏检验检测网的服务即视为您已阅读并同意上述协议的约束。</p>
        <p class="title">一、定义</p>
        <p>　　华夏检验检测网平台，是指湖州通源网络科技有限公司旗下运营之华夏检验检测网网站（www.xintesting.com/www.huaxiajianyan.com)。</p>
        <p>　　用户，包含注册用户和非注册用户，以下亦称为“您”。注册用户是指通过华夏检验检测网平台完成全部注册程序后，使用华夏检验检测网平台服务或华夏检验检测网网站资料的用户。非注册用户是指未进行注册、直接登录华夏检验检测网平台或通过其他网站进入华夏检验检测网平台直接或间接地使用华夏检验检测网平台服务华夏检验检测网网站资料的用户。</p>
        <p>　　协议方，本协议中协议双方合称“协议方”。湖州通源网络科技有限公司及其相关服务可能存在的运营关联单位。</p>

        <p class="title">二、协议的效力</p>
        <p>　　1、在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他华夏检验检测网允许的方式实际使用华夏检验检测网平台服务时，您即受本协议的约束。</p>
        <p>　　2、本协议内容包括本协议正文、《华夏检验检测网隐私权条款》，且您在使用华夏检验检测网某一特定服务时，该服务可能会另有单独的协议、相关业务规则等（以下统称为“规则”）。所有华夏检验检测网已经发布的或将来可能发布的规则为本协议不可分割的组成部分，与本协议具有同等法律效力。除另行明确声明外，任何华夏检验检测网及其关联公司提供的服务（以下称为“华夏检验检测网平台服务”）均受本协议约束。您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用华夏检验检测网平台服务；如您继续访问和使用华夏检验检测网平台服务，即视为您已确知并完全同意本协议各项内容。</p>
        <p>　　3、华夏检验检测网有权根据国家法律法规的更新、产品和服务规则的调整需要不时地制订、修改本协议及/或各类规则，并提前以网站公示的方式进行公示。如您继续使用华夏检验检测网平台服务的，即表示您接受经修订的协议和规则。如发生有关争议时，以华夏检验检测网最新的相关协议和规则为准。</p>
        <p class="title">三、注册</p>
        <p>　　1、您确认，在您完成注册程序或以其他华夏检验检测网允许的方式实际使用华夏检验检测网平台服务时，您应当是具备相应民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的家长或法定监护人（以下统称"监护人"）应承担因此而导致的一切后果，且华夏检验检测网有权注销您的账户，并向您及您的监护人索偿。</p>
        <p>　　2、华夏检验检测网非常重视对青少年个人信息搜集和使用的安全性的保护。华夏检验检测网建议，任何未满18周岁的未成年人参加网上活动应事先取得其监护人可经查证的同意并遵守《全国青少年网络文明公约》。监护人应承担未成年人网络活动风险及保护未成年人相关网络隐私的首要责任。</p>
        <p>　　3、在您签署本协议，完成注册程序时，将产生用户名和密码等账户信息，您可以根据华夏检验检测网规定改变您的密码。您应对您的用户账户、登录密码、支付密码（如有）、验证码的安全，以及对通过您的账户和密码实施的行为负责；因此所衍生的任何损失或损害，华夏检验检测网无法也不承担任何责任。除非有法律规定或行政司法机关的指令，且征得华夏检验检测网的同意，否则您的用户账户、登录密码、支付密码（如有）和验证码不得以任何方式转让、借用、赠与、继承（与账户相关的财产权益除外）&lt;或&gt;在第三方平台上进行展示或售卖。否则，由此给您（或华夏检验检测网、任何第三方）造成的一切损失，概由您自行承担（或者负责赔偿）。</p>
        <p>　　4、用户在华夏检验检测网进行浏览、进行检测服务交易等活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，华夏检验检测网将予以严格保密，除非得到用户的授权或法律另有规定，华夏检验检测网不会向外界披露用户隐私信息。如果发现任何人不当使用您的账户或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知华夏检验检测网，要求华夏检验检测网暂停相关服务。您理解华夏检验检测网对您的请求采取行动需要合理时间，华夏检验检测网对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
        <p>　　5、华夏检验检测网特别提醒您应谨慎合理的保存、使用用户名和密码。当您在公用电脑使用完毕后，应安全退出。</p>
        <p>　　6、您在注册帐号或使用华夏检验检测网平台服务的过程中，应提供合法、真实、准确的个人资料，您填写的个人资料有变动的，应及时进行更新。如果因您提供的个人资料不合法、不真实、不准确的，您需承担因此引起的相应责任及后果，并且华夏检验检测网保留终止您使用华夏检验检测网各项服务的权利。</p>
        <p>　　7、您了解并同意，如您符合并且遵守本协议条款，在通过华夏检验检测网平台完成注册程序之后，即可成为华夏检验检测网平台注册用户。对于您主动提交的相关信息，您授权华夏检验检测网及/或华夏检验检测网网站运营者及关联服务提供方委托的第三方通过合法渠道（包括但不限于征信机构等）了解、咨询、审查您的个人市场交易风险的真实情况，并据此判断您的风险状况。同时，华夏检验检测网有权使用用户的注册信息、用户名、密码等信息，登录进入用户的注册账户，进行后台数据维护等操作。</p>
        <p>　　8、您不得通过任何手段恶意注册华夏检验检测网网站帐号，包括但不限于以牟利、炒作、套现等为目的多个账号注册。您亦不得盗用其他用户帐号。不得将在本站注册获得的账户借给他人使用，否则应承担由此产生的全部责任，并与实际使用人承担连带责任。</p>
        <p>　　9、您了解并同意，一经注册用户账号，即视为您同意华夏检验检测网及/或其关联公司可以通过拨打电话、发送短信或者电子邮件等方式向您注册时填写的手机号码、电子邮箱等发送、告知相应的产品服务广告信息等；您如果不同意接收相关信息，您可以通过相应的退订功能或相关提示进行退订。</p>
        <p>　　10、因用户保管不善可能导致帐号被盗，责任由用户自行承担。用户同意并有责任将用户与用于获得服务的任何帐号相关的密码保密。据此，用户将就用户的帐号在本站下的所有活动负责。</p>
        <p>　　11、如果用户得知任何对用户账号和密码的任何未经授权使用，用户同意立即通知华夏检验检测网。</p>
        <p class="title">四、华夏检验检测网检测服务信息</p>
        <p>　　1、通过华夏检验检测网提供的平台服务，您可在华夏检验检测网上发布交易需求、查询检测产品和服务信息、达成交易意向并进行交易、对其他会员进行评价、参加华夏检验检测网组织的活动以及使用其它信息服务及技术服务。</p>
        <p>　　华夏检验检测网仅作为用户物色交易对象，就检测产品和服务的交易进行协商，以及获取各类与贸易相关的服务的地点。同时，华夏检验检测网不涉及用户间因交易而产生的法律关系及法律纠纷，不会且不能牵涉进交易各方的交易当中。敬请注意，华夏检验检测网不能控制或保证商贸信息的真实性、合法性、准确性，亦不能控制或保证交易所涉及的产品服务的质量、安全或合法性，以及相关交易各方履行在贸易协议项下的各项义务的能力。华夏检验检测网不能也不会控制交易各方能否履行协议义务。此外，您应注意到，与以欺诈手段行事的人进行交易的风险是客观存在的。华夏检验检测网希望您在使用华夏检验检测网网站时，小心谨慎并运用常识。</p>
        <p>　　2、&nbsp;华夏检验检测网上的检测服务产品信息随时都有可能发生变动，本站不作特别通知。由于本站上服务产品信息的数量极其庞大，虽然本站会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素等客观原因存在，本站网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解；本站欢迎纠错，并会尽快改正。</p>
        <p class="title">五、华夏检验检测网服务使用规范</p>
        <p>　　1、用户的资料包括用户在注册、发布信息或交易等过程中、在任何公开信息场合或通过任何电子邮件形式，向华夏检验检测网或其他用户提供的任何资料 ，包括数据、文本、软件、音乐、声响、照片、图画、影像、词句或其他材料。用户应对资料负全部责任，而华夏检验检测网仅作为用户在网上发布和刊登“用户资料”的被动渠道。</p>
        <p>　　2、用户同意并承诺，“用户资料”和用户供在华夏检验检测网网站上交易的任何“产品”（泛指一切可供依法交易的、有形的或无形的、以各种形态存在的某种具体的产品，或某种服务或行为。本协议中“产品”一词均含此义）:</p>
        <p>　　2.1、不会有欺诈成份；&nbsp;</p>
        <p>　　2.2、不会违反任何法律、法规、条例或规章 、本协议及相关规则；&nbsp;</p>
        <p>　　2.3、不会直接或间接与下述各项产品或服务连接，或包含对下述各项产品或服务的描述：</p>
        <p>　　2.3.1、本协议项下禁止的产品或服务；</p>
        <p>　　2.3.2、用户无权连接或包含的产品或服务。</p>
        <p>　　2.3.3、在与任何连锁信件、大量胡乱邮寄的电子邮件、滥发电子邮件或任何复制或多余的信息有关的方面使用“服务”；</p>
        <p>　　2.3.4、未经其他人士同意，利用“服务”收集其他人士的电子邮件地址及其他资料；</p>
        <p>　　2.3.5、利用“服务”制作虚假的电子邮件地址，或以其他形式试图在发送人的身份或信息的来源方面误导其他人士；&nbsp;</p>
        <p>　　2.4、不含有本站认为应禁止或不适合通过本站网站宣传或交易</p>
        <p>　　3、用户同意不会对任何资料作商业性利用，包括但不限于在未经本站事先书面批准的情况下，复制在本站网站上展示的任何资料并用于商业用途。</p>
        <p>　　交易的规则</p>
        <p>　　4、添加产品描述条目。产品描述是由用户提供的在本站网站上展示的文字描述、图画和/或照片，可以是对您拥有的产品的描述；或对您正寻找的产品的描述。您须将该等产品描述归入正确的类目内。本站不对产品描述的准确性或内容负责。</p>
        <p>　　5、关于处理交易争议。</p>&nbsp;
        <p>　　5.1、华夏检验检测网不涉及用户间因交易而产生的法律关系及法律纠纷，不会且不能牵涉进交易各方的交易当中。倘若您与一名或一名以上用户，或与您通过华夏检验检测网网站获取其服务的第三者服务供应商发生争议，您免除华夏检验检测网(及本站代理人和雇员)在因该等争议而引起的，或在任何方面与该等争议有关的不同种类和性质的任何(实际和后果性的)权利主张、要求和损害赔偿等方面的责任。&nbsp;</p>
        <p>　　5.2、华夏检验检测网有权受理并调处您与其他用户因交易产生的争议，同时有权单方面独立判断其他用户对您的投诉及(或)索偿是否成立，若华夏检验检测网判断索偿成立，则您应及时使用自有资金进行偿付。华夏检验检测网没有使用自用资金进行偿付的义务，但若进行了该等支付，您应及时赔偿本站的全部损失，否则华夏检验检测网有权通过前述方式抵减相应资金或权益，如仍无法弥补本站损失，则华夏检验检测网保留继续追偿的权利。因华夏检验检测网非司法机构，您完全理解并承认，本站对证据的鉴别能力及对纠纷的处理能力有限，受理贸易争议完全是基于您之委托，不保证争议处理结果符合您的期望，亦不对争议处理结果承担任何责任。本站有权决定是否参与争议的调处。</p>
        <p>　　5.3、华夏检验检测网有权通过电子邮件等联系方式向您了解情况，并将所了解的情况通过电子邮件等方式通知对方，您有义务配合本站的工作，否则华夏检验检测网有权做出对您不利的处理结果。</p>
        <p>　　违反规则的后果</p>
        <p>　　6、倘若华夏检验检测网认为“您的资料”可能使本站承担任何法律或道义上的责任，或可能使本站(全部或部分地)失去本站的互联网服务供应商或其他供应商的服务，则华夏检验检测网可自行全权决定对“您的资料”采取华夏检验检测网认为必要或适当的任何行动，包括但不限于删除该类资料。您特此保证，您对提交给华夏检验检测网的“您的资料”拥有全部权利，包括全部版权。您确认，华夏检验检测网没有责任去认定或决定您提交给本站的资料哪些是应当受到保护的，对享有“服务”的其他用户使用“您的资料”，华夏检验检测网也不必负责。</p>
        <p>　　7、对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保本站免责。&nbsp;</p>
        <p>　　8、在不限制其他补救措施的前提下，发生下述任一情况，华夏检验检测网可立即发出警告，暂时中止、永久中止或终止您的会员资格，删除您的任何现有产品信息，以及您在网站上展示的任何其他资料：(i)您违反本协议；(ii)华夏检验检测网无法核实或鉴定您向本站提供的任何资料；或(iii)华夏检验检测网相信您的行为可能会使您、华夏检验检测网用户或通过华夏检验检测网或华夏检验检测网网站提供服务的第三者服务供应商发生任何法律责任。在不限制任何其他补救措施的前提下，若发现您从事涉及本站网站的诈骗活动，华夏检验检测网可暂停或终止您的账户。&nbsp;</p>
        <p>　　9、经生效法律文书确认用户存在违法或违反本协议行为或者本站自行判断用户涉嫌存在违法或违反本协议行为的，华夏检验检测网有权以网络发布形式公布用户的违法行为并做出处罚（包括但不限于限权、终止服务等）。</p>
        <p>　　10、通过华夏检验检测网平台，您可以按照华夏检验检测网的规则发布各种生活信息。但所发布之信息不得含有如下内容：</p>
        <p>　　10.1、反对宪法所确定的基本原则，煽动抗拒、破坏宪法和法律、行政法规实施的；</p>
        <p>　　10.2、煽动危害国家安全、泄露国家秘密、颠覆国家政权，推翻社会主义制度的；</p>
        <p>　　10.3、煽动分裂国家、破坏国家统一、损害国家荣誉和民族利益的；</p>
        <p>　　10.4、煽动民族仇恨、民族歧视，破坏民族团结的；</p>
        <p>　　10.5、捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
        <p>　　10.6、进行政治宣传或破坏国家宗教政策、宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
        <p>　　10.7、公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
        <p>　　10.8、损害国家机关信誉的；</p>
        <p>　　10.9、其他违反宪法和法律法规的；</p>
        <p>　　11、在接受华夏检验检测网服务的过程中，您不得从事下列行为：</p>
        <p>　　11.1、发表、传送、传播、储存侵害他人知识产权、商业秘密权等合法权利的内容，包含病毒、木马、定时炸弹等可能对华夏检验检测网造成伤害或影响其稳定性的内容制造虚假身份以误导、欺骗他人；</p>
        <p>　　11.2、传送或散布以其他方式实现传送的含有受到知识产权法律保护的图像、相片、软件或其他资料的文件，作为举例（但不限于此）：包括版权或商标法（或隐私权或公开权），除非用户拥有或控制着相应的权利或已得到所有必要的认可；</p>
        <p>　　11.3、使用任何包含有通过侵犯商标、版权、专利、商业机密或任何一方的其他专有权利的方式利用本“软件”获得的图像或相片的资料或信息；</p>
        <p>　　11.4、进行危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器/帐号；未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；未经许可，企图探查、扫描、测试本平台系统或网络的弱点或其它实施破坏网络安全的行为；企图干涉、破坏本平台系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；伪造TCP/IP数据包名称或部分名称；</p>
        <p>　　11.5、修改或伪造软件作品运行中的指令、数据、数据包，增加、删减、变动软件 </p>的功能或运行效果，不得将用于上述用途的软件通过信息网络向公众传播或者运营；<p></p>
        <p>　　11.6、在未经华夏检验检测网书面明确授权前提下，出售、出租、出借、散布、转移或转授权软件和服务或相关的链接或从使用软件和服务或软件和服务的条款中获利，无论以上使用是否为直接经济或金钱收益；</p>
        <p>　　11.7、违背华夏检验检测网页面公布之活动规则，包括但不限于发布虚假信息、作弊或通过其他手段进行虚假交易。</p>
        <p>　　11.8、您了解并同意，华夏检验检测网有权应政府部门（包括司法及行政部门）的要求，向其提供您在华夏检验检测网平台填写的注册信息和发布纪录等必要信息，且无须征得您的同意或提前通知于您。</p>
        <p>　　12、在华夏检验检测网平台上使用华夏检验检测网服务过程中，您承诺遵守以下约定：</p>
        <p>　　12.1、在使用华夏检验检测网平台服务过程中实施的所有行为均遵守国家法律、法规等规范文件及华夏检验检测网平台各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保华夏检验检测网免于因此产生任何损失或增加费用。</p>
        <p>　　12.2、不发布国家禁止发布的信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的信息，不发布违背社会公共利益或公共道德、公序良俗的信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。</p>
        <p>　　12.3、不对华夏检验检测网平台上的任何数据作商业性利用，包括但不限于在未经华夏检验检测网事先书面同意的情况下，以复制、传播等任何方式使用华夏检验检测网平台站上展示的资料。</p>
        <p>　　12.4、不使用任何装置、软件或例行程序干预或试图干预华夏检验检测网平台的正常运作或正在华夏检验检测网平台上进行的任何活动。您不得采取任何将导致不合理的庞大数据负载加诸华夏检验检测网平台网络设备的行动。</p>
        <p>　　13、您了解并同意：</p>
        <p>　　13.1、您违反上述承诺时，华夏检验检测网有权依据本协议的约定，做出相应处理或终止向您提供服务，且无须征得您的同意或提前通知于您。</p>
        <p>　　13.2、根据相关法令的指定或者华夏检验检测网服务规则的判断，您的行为涉嫌违反法律法规的规定或违反本协议和/或规则的条款的，华夏检验检测网有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、降低您的信用值或直接停止提供服务。如因此使华夏检验检测网遭受损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿华夏检验检测网因此造成的损失及（或）发生的费用，包括合理的律师费用。</p>
        <p>　　13.3、对于您在华夏检验检测网平台上实施的行为，包括您未在华夏检验检测网平台上实施但已经对华夏检验检测网平台及其用户产生影响的行为，华夏检验检测网有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并据此采取相应的处理措施。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据承担不利后果。</p>
        <p>　　13.4、对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保华夏检验检测网免于承担因此产生的损失或增加的费用。</p>
        <p class="title">六、责任范围和责任限制</p>
        <p>　　1、华夏检验检测网负责向您提供华夏检验检测网平台服务。但华夏检验检测网对5华夏检验检测网平台服务不作任何明示或暗示的保证，包括但不限于华夏检验检测网平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，华夏检验检测网城也不对华夏检验检测网平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、稳定性、完整性和及时性作出任何承诺和保证。</p>
        <p>　　2、华夏检验检测网仅向您提供华夏检验检测网平台服务，您了解华夏检验检测网平台上的信息系用户自行发布，由于海量信息的存在，且华夏检验检测网平台无法杜绝可能存在风险和瑕疵。您应谨慎判断确定相关信息的真实性、合法性和有效性，并注意保留相应的证据以利于维权，如可能，尽量采用网站建议的交易方式进行。</p>
        <p>　　3、华夏检验检测网平台与其他的在线使用的互联网网站一样，也会受到各种不良信息、网络安全和网络故障问题的困扰，包括但不限于：</p>
        <p>　　3.1、其他用户可能会发布诈骗或虚假信息，或者发表有谩骂、诅咒、诋毁、攻击内容的，或者含有淫秽、色情、下流、反动、煽动民族仇恨等让人反感、厌恶的内容的非法言论；</p>
        <p>　　3.2、其他用户可能会发布一些侵犯您或者其他第三方知识产权、肖像权、姓名权、名誉权、隐私权和/或其他合法权益的图片、照片、文字等资料；</p>
        <p>　　3.3、面临着诸如黑客攻击、计算机病毒困扰、系统崩溃、网络掉线、网速缓慢、程序漏洞等问题的困扰和威胁。</p>
        <p>　　您充分了解并同意：上述的各种不良信息、网络安全和网络故障问题，并不是华夏检验检测网或者华夏检验检测网平台所导致的问题，由此可能会造成您感到反感、恶心、呕吐等精神损害，或者给您造成其他的损失，概由您自行承担，华夏检验检测网无须向您承担任何责任。</p>
        <p>　　4、您同意，在发现本网站任何内容不符合法律规定，或不符合本用户协议规定的，您有义务及时通知华夏检验检测网。如果您发现您的个人信息被盗用、您的版权或者其他权利被侵害，请将此情况告知华夏检验检测网并同时提供如下信息和材料：</p>
        <p>　　4.1、侵犯您权利的信息的网址，编号或其他可以找到该信息的细节；</p>
        <p>　　4.2、您是所述的版权或者其他权利的合法拥有者的权利证明；</p>
        <p>　　4.3、您的联系方式，包括联系人姓名，地址，电话号码和电子邮件；</p>
        <p>　　4.4、您的身份证复印件、营业执照等其他相关资料。</p>
        <p>　　经审查得到证实的，我们将及时删除相关信息。我们仅接受邮寄、电子邮件或传真方式的书面侵权通知。情况紧急的，您可以通过客服电话先行告知，我们会视情况采取相应措施。</p>
        <p>　　5、您了解并同意，华夏检验检测网不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿：</p>
        <p>　　5.1、 使用或未能使用华夏检验检测网平台服务；</p>
        <p>　　5.2、第三方未经批准地使用您的账户或更改您的数据；</p>
        <p>　　5.3、通过华夏检验检测网平台服务购买或获取任何商品、样品、数据、信息等行为或替代行为产生的费用及损失；
        </p><p>　　5.4、您对华夏检验检测网平台服务的误解；</p>
        <p>　　5.5、 任何非因华夏检验检测网的原因而引起的与华夏检验检测网平台服务有关的其它损失。</p>
        <p>　　6、您在华夏检验检测网上使用第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。华夏检验检测网和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。</p>
        <p>　　7、您同意在使用华夏检验检测网平台服务过程中显示华夏检验检测网自行或由第三方服务商向您发送的推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向您特别通知而变更。除法律法规明确规定外，您应自行对依该推广信息进行的交易负责，对用户因依该推广信息进行的交易或前述第三方服务商提供的内容而遭受的损失或损害，华夏检验检测网不承担任何责任。</p>
        <p>　　8、华夏检验检测网对下列不可抗力行为免责：信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务。</p>
        <p>　　9、您应当严格遵守本协议及华夏检验检测网发布的其他协议、活动规则，因您违反协议或规则的行为给第三方或华夏检验检测网造成损失的，您应当承担全部责任。</p>
        <p>　　10、华夏检验检测网保留在中华人民共和国大陆地区法施行之法律允许的范围内独立决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</p>
        <p class="title">七、【用户权利和义务】</p>
        <p>　　1、用户有权利拥有自己在本站的用户名及密码，并有权利使用自己的用户名及密码随时登录本站进行浏览、下载等。用户不得以任何形式擅自转让或授权他人使用自己的本站用户名。</p>
        <p>　　2、用户有权根据本协议的规定以及本站上发布的相关规则，利用本站查询或使用本站上所提供的任何服务（如发布求职信息等），并可参加本站发布的有关活动以及有权享受本站提供的其它的有关信息服务及活动。</p>
        <p>　　3、用户可免费浏览本站上面的资讯，查询本站入驻的实验室信息，在线向实验室留言、询价、浏览专栏等；用户可参加本站不定期组织的线上、线下活动等。</p>
        <p>　　4、用户可在本站上免费发布检测信息；实验室用户可以选择线下联系进行交易。</p>
        <p>　　5、用户在本站与其他用户因交易产生纠纷，可以请本站在线客服从中予以协调，用户如发现其他用户有违法或违反本协议的行为，可以向本站进行反馈。</p>
        <p>　　6、用户有义务在注册时提供其真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码和所发布内容的有效性、安全性、真实性，保证本站及所有用户可以通过上述联系方式与其进行联系。同时，用户也有义务在相关资料实际变更时及时更新有关注册资料并保证不以他人或其他组织的资料在本站进行注册或认证。</p>
        <p>　　7、用户应当保证在使用本站进行交易过程中遵守诚实信用的原则，不在交易过程中采取任何不正当行为。</p>
        <p>　　8、用户在本站上不得发布各类违法或违规信息；用户在本站上不得提供或买卖国家禁止销售或限制销售的服务，不得买卖侵犯他人知识产权或其它合法权益的服务，也不得买卖违背社会公共利益或公共道德的、或是本站认为不适合在本站上所提供的服务。</p>
        <p>　　9、用户承诺其在使用本站时实施的所有行为均遵守国家相关的法律、法规和本站的相关规定及协议和声明，以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，用户将以其名义独立承担所有相应的法律责任。</p>
        <p>　　10、用户同意，不对本站上任何数据作商业性利用或恶意更改，包括但不限于在未经本站事先书面批准的情况下，以复制、传播等方式使用在平台上展示的任何资料和数据。</p>
        <p class="title">八、【本站的权利和义务】</p>
        <p>　　1、本站有义务在现有技术上维护整个平台服务的正常运行，并努力提升和改进技术，使用户在本站上的所有活动和服务得以顺利进行。</p>
        <p>　　2、对用户在使用本站中所遇到的问题及反映的情况，会及时作出回复。</p>
        <p>　　3、对于用户在本站上的任何不当行为或其它任何平台认为应当终止其服务的情况，本站有权随时做出删除其相关信息、终止其服务提供等处理，无须征得用户的同意；本站有权根据不同情况选择是否保留或删除其相关信息及是否继续或停止对该用户提供服务，并追究其相关法律责任。</p>
        <p>　　4、用户在本站如与其它用户因交易产生纠纷，可请求本站从中予以协调。如因此而产生诉讼的，用户可通过司法部门或行政部门依照法定程序要求本站提供相关数据，本站会配合提供有关资料，但不承担由此而产生的一切相关责任；本站有权对用户发布的全部内容及交易行为进行查阅，发现其发布内容或交易行为中存在任何问题或怀疑，均有权向用户发出询问及要求改正的通知或者直接做出删除等处理。</p>
        <p>　　5、许可使用权：用户以此授予本站独家的、通用的、永久的、许可使用权利 (并有权对该权利进行再授权)，使本站有权(全部或部分地) </p>使用、复制、修订、改写、发布、翻译、分发、执行和展示用户公示于网站的各类信息、数据或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。<p></p>
        <p>　　6、隐私：尽管有第5条所规定的许可使用权，但基于保护您的隐私是本站的一项基本原则，为此本站还将根据本站的隐私声明使用"您的资料"。本站隐私声明的全部条款属于本协议的一部份，因此，您必须仔细阅读。请注意，您一旦自愿地在本站交易地点披露"您的资料"，该等资料即可能被其他人士获取和使用。&nbsp;</p>
        <p class="title">九、【收费服务】</p>
        <p>　　本站目前所提供的服务均不收费。</p>
        <p class="title">十、【服务的中断或终止】</p>
        <p>　　1、您同意，华夏检验检测网基于平台服务的安全性，有权中止向您提供部分或全部华夏检验检测网平台服务，暂时冻结您的账户，待安全问题解决后及时恢复，并对中止、冻结及恢复的事实及时通知。如果网站的安全问题是由于您的违法行为引起，华夏检验检测网有权终止向您提供部分或全部华夏检验检测网平台服务，永久冻结（注销）您的帐户，并有权向您对损失进行索赔。</p>
        <p>　　2、如您对本协议的修改有异议，或对华夏检验检测网的服务不满，可以行使如下权利：</p>
        <p>　　2.1、停止使用华夏检验检测网的网络服务；</p>
        <p>　　2.2、通过客服等渠道告知华夏检验检测网停止对其服务。结束服务后，您使用华夏检验检测网服务的权利立即终止。在此情况下，华夏检验检测网没有义务传送任何未处理的信息或未完成的服务给您或任何无直接关系的第三方。</p>
        <p>　　3、您同意，您与华夏检验检测网的协议关系终止后，华夏检验检测网仍享有下列权利：</p>
        <p>　　3.1、继续保存您未及时删除的注册信息及您使用华夏检验检测网平台服务期间发布的所有信息至法律规定的记录保存期满。</p>
        <p>　　3.2、您在使用华夏检验检测网平台服务期间存在违法行为或违反本协议和/或规则的行为的，华夏检验检测网仍可依据本协议向您主张权利、追究责任。</p>
        <p>　　4、在用户违反本协议相关规定时，华夏检验检测网有权中断或终止向该用户提供服务，华夏检验检测网将在中断或终止服务时通知用户。但如该用户在被华夏检验检测网中断或终止提供服务后，再一次直接或间接或以他人名义注册为华夏检验检测网用户的，华夏检验检测网有权再次单方面终止向该用户提供服务。</p>
        <p>　　5、如华夏检验检测网通过用户提供的信息与用户联系时，发现用户在注册时填写的注册信息已不存在或无法找到其电子邮箱地址的，经平台以其它联系方式通知用户更改后而用户仍未能尽快提供新的电子邮箱地址及注册信息的，华夏检验检测网有权终止向该用户提供服务。</p>
        <p>　　6、其它华夏检验检测网认为需中断或终止服务的情况。</p>
        <p class="title">十一、隐私权政策</p>
        <p>　　1、华夏检验检测网将在华夏检验检测网平台公布并不时修订隐私权条款，隐私权条款构成本协议的有效组成部分。</p>
        <p>　　2、您知悉并承诺在使用华夏检验检测网的服务过程中，遵守《华夏检验检测网隐私权条款》》。</p>
        <p>　　3、华夏检验检测网要求各搜索引擎遵循行业规范，即“拒绝 Robots 访问标准”(Robots Exclusion Standard)，否则将视你的抓取行为是对我网站财产权利和知识产权的侵犯，有权通过法律诉讼维护网站利益。</p>
        <p class="title">十二、、知识产权声明</p>
        <p>　　1、“华夏检验检测网”为华夏检验检测网所在公司及其关联公司的商标，受法律保护，任何人不得擅自使用。凡侵犯本公司版权等知识产权的，华夏检验检测网将依法追究其相关法律责任。</p>
        <p>　　2、华夏检验检测网平台所刊登的资料信息（包括但不限于编码、文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是华夏检验检测网或其内容提供者的财产，受中国和国际版权法的保护。本平台上所有内容的汇编是华夏检验检测网的排他财产，受中国和国际版权法的保护。本平台上所有软件都是华夏检验检测网或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。未经华夏检验检测网的明确书面许可，任何第三方不得为任何非私人或商业目的获取或使用华夏检验检测网网站的任何部分或通过华夏检验检测网网站可直接或间接获得的任何内容、服务或资料。任何第三方违反本协议的规定以任何方式，和/或以任何文字对华夏检验检测网网站的任何部分进行发表、复制、转载、更改、引用、链接、下载或以其他方式进行使用，或向任何其他第三方提供获取华夏检验检测网网站任何内容的渠道，则对华夏检验检测网网站的使用权将立即终止，且任何第三方必须按照华夏检验检测网的要求，归还或销毁使用华夏检验检测网网站任何部分的内容所创建的资料的任何副本。</p>
        <p>　　3、用户一旦接受本协议，即表明该用户主动将其在任何时间段在本平台发表的任何形式的信息内容（包括但不限于用户评价、用户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给华夏检验检测网所有，用户同意华夏检验检测网有权就任何主体侵权而单独提起诉讼。</p>
        <p>　　4、本协议已经构成《中华人民共和国著作权法》第二十五条（条文序号依照2010年版著作权法确定）及相关法律规定的著作财产权等权利转让的书面协议，其效力及于用户在华夏检验检测网平台上发布的任何受著作权法保护的作品内容，无论该等内容形成于本协议订立前还是本协议订立后。</p>
        <p>　　5、用户同意并已充分了解本协议的条款，承诺不将已发表于本站的信息，以任何形式发布或授权其它主体以任何方式使用（包括但不限于在各类网站、媒体上使用）。</p>
        <p>　　6、用户通过华夏检验检测网平台发布的信息或内容，并不代表华夏检验检测网之意见及观点，也不意味着华夏检验检测网赞同其观点或证实其内容的真实性。华夏检验检测网有权删除网站内各类不符合法律或本协议规定的信息或内容，而保留不通知用户的权利。</p>
        <p>　　7、用户通过华夏检验检测网平台发布的信息、文字、图片等资料均由华夏检验检测网用户提供，其真实性、准确性和合法性由信息发布人负责。华夏检验检测网不提供任何保证，并不承担任何法律责任。如果以上资料侵犯了第三方的知识产权或其他权利，责任由信息发布者本人承担，华夏检验检测网对此不承担责任。</p>
        <p>　　8、除法律另有强制性规定外，未经华夏检验检测网明确的特别书面许可，任何单位或个人不得以任何方式非法地全部或部分复制、传播、展示、镜像、上载、下载、转载、引用、链接、抓取或以其他方式使用本站的信息内容，否则，华夏检验检测网有权追究其法律责任。</p>
        <p>　　9、华夏检验检测网平台以下内容不可任意转载：</p>
        <p>　　9.1、本平台内发布的所有信息；</p>
        <p>　　9.2、已作出不得转载或未经许可不得转载声明的内容；</p>
        <p>　　9.3、本平台中特有的图形、标志、页面风格、编排方式、程序等；</p>
        <p>　　9.4、本平台中必须具有特别授权或具有注册用户资格方可知晓的内容；</p>
        <p>　　9.5、其他法律不允许或本平台认为不适合转载的内容。</p>
        <p>　　10、对于不当引用华夏检验检测网网站内容而引起的纷争等或因纠纷等造成的任何损失，华夏检验检测网不承担相关法律责任。对不遵守本声明的用户或其他违法、恶意使用华夏检验检测网网站内容者，华夏检验检测网保留追究其法律责任的权利。</p>
        <p>　　11、华夏检验检测网平台相关声明版权及其修改权、更新权和法律允许范围内的解释权均属华夏检验检测网所有。
        </p><p class="title">十三、赔偿</p>
        <p>　　用户明确理解并同意，如因其违反有关法律法规或者本协议之规定，使华夏检验检测网因此遭受损失并受到任何第三方的索赔，或任何行政管理部门的处罚，用户应对华夏检验检测网提供赔偿（律师费用等）。</p>
        <p class="title">十四、法律适用、管辖与其他</p>
        <p>　　1、本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国法律，如法律无相关规定的，则应参照通用国际商业惯例和（或）行业惯例。</p>
        <p>　　2、本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。</p>
        <p>　　3、因本协议产生之争议、纠纷，应由华夏检验检测网与您友好协商解决；协商不成的，应依照中华人民共和国法律予以处理。</p>
        <p class="title">十五、最终解释权</p>
        <p>　　本协议和免责声明的最终解释权归本站所有。</p>
    </div>
    </div>
{include file="public/footer" /}